body {
  margin: 0; }

header {
  height: 20vh;
  background-image: url(../img/nav-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header .logo {
    float: left;
    width: 20%;
    height: 20vh; }
    header .logo div {
      margin: 0 auto;
      text-align: center; }
      header .logo div a {
        font-size: 2.8vh;
        font-family: "Comfortaa";
        color: white;
        text-shadow: 0px 0px 5px black;
        text-decoration: none; }
      header .logo div img {
        height: 15vh; }
  header .menu {
    float: left;
    width: 80%;
    height: 20vh; }
    header .menu ul {
      width: 80%;
      margin-left: 5%;
      margin-top: 8vh; }
      header .menu ul li {
        display: inline-block;
        margin: 0 5%; }
        header .menu ul li a {
          font-size: 20px;
          font-family: "Comfortaa";
          color: white;
          text-shadow: 0px 0px 5px black;
          text-decoration: none;
          text-transform: capitalize; }
        header .menu ul li a:hover {
          color: #e51212; }

main {
  height: 70vh; }
  main .main_left {
    float: left;
    width: 25%;
    height: 70vh; }
    main .main_left .clock {
      width: 100%;
      height: 40vh;
      text-align: center;
      font-size: 30px;
      font-family: "a_Bragga";
      color: #63872d; }
      main .main_left .clock P {
        position: relative;
        top: 30px;
        margin: 0; }
    main .main_left .solder {
      width: 100%;
      height: 30vh; }
      main .main_left .solder img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 5vh;
        height: 25vh; }
  main .main_middle {
    float: left;
    width: 50%;
    height: 70vh; }
    main .main_middle .board {
      margin: 5vh auto;
      height: 60vh;
      width: 60vh;
      cursor: pointer; }
      main .main_middle .board .row {
        height: 6.6vh; }
        main .main_middle .board .row .cell:hover {
          box-shadow: 0 0 50px #40cdeb;
          background-color: #9bd5df;
          border-color: #21d2fc;
          background-image: url(../img/shovel.png);
          background-size: 1.7vh;
          background-position: center;
          background-repeat: no-repeat; }
        main .main_middle .board .row .open:hover, main .main_middle .board .row .mine:hover {
          box-shadow: 0 0 0px #fff;
          background-color: #e1e1e1;
          border-color: #959595;
          background-image: url(); }
        main .main_middle .board .row .mine {
          background-image: url(); }
        main .main_middle .board .row .cell {
          float: left;
          height: 6.4vh;
          width: 6.4vh;
          margin: 0.1vh;
          border-radius: 5px;
          border-width: 0.3vh;
          border-color: #959595;
          border-style: solid;
          background-color: #c4df9b;
          box-sizing: border-box; }
          main .main_middle .board .row .cell p {
            visibility: hidden;
            color: #bbbbbb;
            text-align: center;
            font-size: 3vh;
            font-family: "Comfortaa";
            font-weight: bold;
            margin-top: 25%; }
          main .main_middle .board .row .cell img {
            visibility: hidden;
            margin: 0.5vh auto;
            height: 5.0vh; }
        main .main_middle .board .row .open {
          background-color: #e1e1e1; }
          main .main_middle .board .row .open p, main .main_middle .board .row .open img {
            visibility: visible; }
        main .main_middle .board .row .mine {
          background-color: #e1e1e1; }
  main .main_right {
    float: left;
    width: 25%;
    height: 70vh; }
    main .main_right .general {
      height: 35vh; }
      main .main_right .general img {
        margin: 0 auto;
        margin-top: -5vh;
        height: 30vh;
        display: block; }
    main .main_right .flags {
      height: 20vh; }
      main .main_right .flags ul {
        margin: 0;
        padding: 0; }
        main .main_right .flags ul li {
          margin: 0;
          padding: 0;
          position: relative;
          display: inline-block; }
          main .main_right .flags ul li img {
            margin: 0;
            padding: 0;
            height: 5vh; }
    main .main_right .panel {
      height: 20vh; }
      main .main_right .panel .row {
        height: 6.6vh;
        width: 19.8vh;
        margin: 0 auto; }
        main .main_right .panel .row .cell {
          float: left;
          height: 6.4vh;
          width: 6.4vh;
          margin: 0.1vh;
          border-radius: 5px;
          border-width: 0.3vh;
          border-color: #959595;
          border-style: solid;
          background-color: #c4df9b;
          box-sizing: border-box; }
          main .main_right .panel .row .cell img {
            display: block;
            margin: 0.5vh auto;
            height: 5.0vh; }

footer {
  height: 10vh;
  background-image: url(../img/footerbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
