body{
    margin: 0;
}

header{
    height: 20vh;
    background-image: url(../img/nav-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .logo{
        float: left;
        width: 20%;
        height: 20vh;
        div{
            
            margin: 0 auto;
            text-align: center;
            a{
                font-size: 20px;
                font-family: "Comfortaa";
                color: rgb( 255, 255, 255 );
                text-shadow: 0px 0px 5px rgb( 0, 0, 0 );
                text-decoration: none;
            }
            img{
                height: 15vh;
            } 
        }
    }
    
    .menu{
        float: left;
        width: 80%;
        height: 20vh;
        
        ul{
            width: 80%;
            margin-left: 5%;
            margin-top: 8vh;
            li{
                display: inline-block;
                margin: 0 5%;  
                a{
                    font-size: 20px;
                    font-family: "Comfortaa";
                    color: rgb( 255, 255, 255 );
                    //color: rgb(229, 18, 18);  
                    text-shadow: 0px 0px 5px rgb( 0, 0, 0 );
                    text-decoration: none; 
                    text-transform: capitalize;
                }
                
                a:hover {
                  color: rgb(229, 18, 18);  
                }
            }

        }
        
    }
    
}


